.general-container {
    margin: 20px;
}

.general-text {
    color: grey;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.error-text {
    text-align: center;
    margin-bottom: 20px;
}

.question-number {
    position: fixed;
    bottom: 25px;
    left: 125px
}

.answer-text {
    margin: 25px 20px;
    font-size: 20px;
}

li {
    background: lightgray;
    padding: 5px;
    border-radius: 5px;
    list-style-type: none
}

.bad-result {
    background: #f88f8f;
    text-align: center;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
}

.good-result {
    background: #96f88f;
    text-align: center;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    padding: 20px;
}

.try-button {
    position: fixed;
    bottom: 65px;
    left: 150px
}
