.logoCDL {
    color: #a20000;
    font-size: 25px;

}

.logo {
    font-size: 18px;
    padding: 10px;

}

.headerIcon {
    color: #a20000;
}

.signIn {
    font-size: 20px;
    font-weight: lighter;
    padding: 18px 20px 0 15px;
}

.home {
    font-size: 20px;
    padding: 15px 0 0 0
}

.headerBox {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.header-home-signIn {
    display: flex;
}
